<p style="color: green"><%= notice %></p>

<% content_for :title, "artigos" %>

<h1>Projeto de Criação de Artigos</h1>

<%= link_to "Novo Artigo", new_article_path, class: "button" %>

  <ul>
    <% @articles.each do |article| %>
      <li>
        <h2><%= link_to article.title, article %></h2>
        <p><%= truncate(article.body, length: 100) %></p>
        <p>
         <% if current_user.id==article.user_id %>
          <%= link_to "Editar", edit_article_path(article), class: "button" %>
          <%= link_to "Excluir", article_path(article), method: :delete, data: { confirm: "Tem certeza que deseja excluir este artigo?" }, class: "button" %>
           <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>


